/*
    folha de estilo 1
*/
/* CSS reset */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


*{
    margin: 0;
    border: 0;
    padding: 0;
}


body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}



/* Layout */
.Conteiner{
    margin: 0 auto;
}


/* .FlexL{
    margin-left: 20vh;
    flex-direction: row;
}

.FlexR{
    margin-right: 20vh;
    flex-direction: row-reverse;
} */

.Flex{
    display: flex;
    justify-content: space-between;

}

.Flex2{
    display: flex;
    align-items: center;

}

.Flex3{
    display: flex;
    flex-direction: column;

}

.Flex4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Botao{
    text-decoration: none;
    color:  #fff;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #c00000;
    padding: 10px 40px;
    border: 2px solid #fff;
    border-radius: 25px;
}


/* top */
#topo{
    position: fixed;
    right: 10px;
    bottom: 10px;
}
#topo img{
    height: 50px; 
    width: 50px;
}

/* cards */

.Card{
    margin-top: 25px;
    width: 338px;
    height: 700px;
    background: #e8e8ee;
    border:  1px solid #a1a1a1;
    border-radius: 25px;
    text-align: center;
}

.Card img{
    height: 264px;
    width: 338px;
    border-radius: 25px 25px 0px 0px;
}

.Card h3{
    margin-top: 15px;
}

.Card p {
    text-align: left;
    color: #434343;
    padding: 10px 30px 50px 30px;
}

.Card a{
    padding: 10px 100px;
}

/*Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

header{
    height: 60px;
}

#logo img{
    width: 128px;
    height: 128px;
}


label{
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
    color: rgba(0,0,0,0.5);
}


#check{
    display: none;
}

.botao1{
    text-decoration: none;
    background-color: #66bbff;
    padding: 5px 10px 5px 10px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.botao2{
    text-decoration: none;
    background-color: #ff0000;
    padding: 5px 10px 5px 10px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}


nav ul{
    list-style: none;
    background-color: #343538;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 30%;
    transition: all 0.5s;
}

#check:checked ~ ul{
    right: 0;
}

nav ul li{
    padding: 20px;
}

.botaoS{
    padding-right: 0px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

/* destaque */

main{
    height: 75vh;
    background: url(img/banner2.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 5px solid #000;

}


main h1{
    font-size: 2.5em;

}

main h2{
    font-size: 1em;
    margin: 20px 0px 50px 0px;
}

/* sobre */

#sobre{
    padding: 50px 0px;
    /* background: url(img/banner3.jpg); */
    background-color: #5e5e5e;
    background-position: center;
    background-size: cover;
    border: 1px solid #000;
}  



#destaqueSobre{
    display: none;
}

#textoSobre{
    color: #fff;
    padding: 0px 10px;
    text-shadow: #000 0.08em 0.08em 0.05em;
}

#textoSobre h2{
    margin-bottom: 10px;
}

.TopicosSobre{
    margin-top: 20px;
}


.TopicosSobre img{
    margin-right: 10px;
}


/* onePage */
#onepage{
    padding: 50px 10px;
}


#onepage h2{
    margin-bottom: 10px;
}

#onepage p{
    margin-bottom: 25px;
    text-shadow: #000 0.03em 0.03em 0.1em;
}

#video iframe{
    width: 340px;
    height: 191px;
    margin-left: 20px;
    border: 5px solid #5e5e5e;
    box-shadow: #000 0.09em 0.09em 0.15em;
    
}

/* wireframe */
#wireframe{
    padding: 50px;
    background: url(img/banner3C.jpg);
    background-size: cover;
    background-position: center;
}

#textoWire{
    color: #fff;
    padding: 0px 10px;
}

#textoWire h2{
    margin-bottom: 10px;
    text-shadow: #000 0.08em 0.08em 0.1em;
}

#textoWire p{
    margin-bottom: 50px;
    text-shadow: #000 0.08em 0.08em 0.1em;
}

#textoWire span{
    color: #ff0000;
    font-weight: 700;

}

#down{
    display: none;
}

#conteudo{
    padding: 50px 0px;
}

#conteudo h2{
    margin-bottom: 25px;
    text-align: center;
}

#todos{
    margin-top: 50px;
    text-align: center;
}

#todos a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 1.25em;
}

/*Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px){
    /* Layout */
    .Conteiner{
        max-width: 540px;
    }
/* destaque */

main h1, main h2{
    text-shadow: #000 0.15em 0.15em 0.10em;
}

/* one page */

#video iframe{
    width: 560px;
    height: 315px;
}

}
/*Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px){
    /* Layout */
    .Conteiner{
        max-width: 720px;
    }

/* destaque */

main{
    height: 45vh;
}

main h1{
    font-size: 5.5em;
}

main h2{
    font-size: 2em;
}



}
/*tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px){
    /* Layout */
    .Conteiner{
        max-width: 960px;
    }

/* destaque */
main{
    height: 70vh;
}


}
/*PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px){
    /* Layout */
    .Conteiner{
        max-width: 1140px;
    }
    /* cabeçalho */

    header{
        height: 120px;
    }
    #logo img{
        width: 190px;
        height: 190px;
        margin-top: 30px;
    }

    label{
        display: none;
    }

    nav ul{
        position: static;
        height: auto;
        background-color: transparent;
        width: 100%;
        margin-top: 50px;
    }

    nav ul li{
        float: left;
    }

    nav ul li a{
        color: #343538
    }

    nav ul li a:hover{
        color: #c00000;
        cursor: pointer;
    }

    #destaqueSobre{
        display: inline;
    }

    #destaqueSobre img{
        margin-right: 50px;
        border-radius: 50%;
    }

    #sobre{
        background-attachment: fixed;
    }

    /* one page */

    .Flex3{
        flex-direction: row;
        align-items: center;
    }

    /* download */
    #wireframe{
        background-attachment: fixed;
        
    }

    #textoWire span{
        color: #fff;
    
    }

    #down{
        display: inline;
    }

    #down img{
        margin-left: 10vh;
        width: 255px;
        height: 255px;
    }


}